**/.DS_Store
/target
src/main/resources/
.idea/

перед нами три двери

выбираем одну из трех дверей

отрисовываем отображение вероятности

прячем за случайной дверью приз

запоминаем, если угадали верную дверь

сбразываем данные для следующей итерации

получаем вероятность выбора двери с призом с первой попытки

делаем все то же самое что и до этого

но теперь убираем дверь, за которой точно нет приза и которую мы не выбрали

проверяем вероятность того что за выбранной дверью будет приз, если мы не будем менять выбранную дверь

отрисовываем результат

делаем все то же самое что и до этого

но теперь меняем выбор после того как убрали одну непризовую дверь

отрисовываем результат
